.blogContent h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.blogContent h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

.blogContent h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

.blogContent h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.12em 0;
}

.blogContent h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.5em 0;
}

.blogContent h6 {
  font-size: 0.75em;
  font-weight: bold;
  margin: 1.67em 0;
}

.blogContent p {
  font-size: 1em;
}

.blogContent ul,
.blogContent ol {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}

.blogContent li {
  margin: 5px 0;
  font-size: 1em;
}

.blogContent blockquote {
  padding: 1em;
  margin: 1em 0;
  background-color: #e0e0e0;
  color: #333;
  font-style: italic;
  border-radius: var(--radius);
}

.blogContent blockquote p {
  margin: 0;
}

.blogContent pre {
  padding: 1em;
  margin: 1em 0;
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  overflow: auto;
}

.blogContent code {
  font-family: "Courier New", Courier, monospace;
  background-color: #e0e0e0;
  color: #333;
}

.blogContent table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: #e0e0e0;
  color: #333;
}

.blogContent th,
.blogContent td {
  border: 1px solid #000000;
  padding: 0.5em;
  text-align: left;
}

.blogContent caption {
  caption-side: bottom;
  padding: 0.5em;
  font-style: italic;
  color: #333;
}
